@{
    ViewBag.Title = "Adaugati o noua postare la album";
}

<div class="row">
    <a href="javascript:void(0);" onclick="history.go(-1);" class="font-title-size" style="margin-left: 20px;"> <i class="glyphicon glyphicon-arrow-left"></i></a>
    <h2 class="text-center font-title-size page-title">@ViewBag.Title</h2>
</div>

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@TempData["message"]</h3>
}

<div class="text-center" style="margin-top: 50px;">
    @using (Html.BeginForm("AddToAlbum", "Post"))
    {
        @Html.HttpMethodOverride(HttpVerbs.Put)

        <div class="row">
            @foreach (Journey.Models.Post post in ViewBag.Posts)
            {
                @Html.Hidden("PostId", post.PostId)
                @Html.Hidden("AlbumId", ViewContext.RouteData.Values["id"])

                <div class="col-sm-4" style="margin-top: 20px;">
                    <button type="submit">
                        <img src=@Url.Content("~/Images/" + post.Photo) class="img-thumbnail img-size" />
                    </button>
                </div>

            }
        </div>

        if (ViewBag.Posts.Count == 0)
        {
            <h3> Nu mai exista postari de adaugat in acest album </h3>
        }
    }
</div>
