@model Journey.Models.Post

@{
    ViewBag.Titlu = "Adaugare postare";
}

<h2 class="text-center font-title-size page-title">@ViewBag.Titlu</h2>
<br />

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@TempData["message"]</h3>
}

<div class="text-center" style="margin-top: 50px;">
    @using (Html.BeginForm("New", "Post", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        @Html.HiddenFor(m => m.UserId)

        @Html.Label("Description", "Descriere Postare")
        <br />
        @Html.TextBox("Description", null, new { @class = "input-text-custom" })
        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
        <br />
        <br />
        <br />

        @Html.HiddenFor(m => m.Photo)
        @Html.LabelFor(m => m.Photo)
        <br/>
        <input id="img-input" name="photoFile" type="file" style="display: none;" />
        <img src="/Images/1.jpg" id="img-new-post" class="img-thumbnail img-size" onclick="$('#img-input').click();" />

        <br />
        <br />

        @Html.Hidden("Date", DateTime.Now, new { @class = "form-control" })

        <label>Selectati categoria</label>
        <br />
        @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categories, "Value", "Text"),
            "Selectati categoria", new { @class = "input-text-custom" })

        @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
        <br />

        <button class="btn btn-danger" type="submit" style="margin-top: 25px;">Adauga postare</button>
    }

</div>