@model Journey.Models.Category
@{
    ViewBag.Title = "Editare categorie";
}

<div class="row">
    <a href="javascript:void(0);" onclick="history.go(-1);" class="font-title-size" style="margin-left: 20px;"> <i class="glyphicon glyphicon-arrow-left"></i></a>
    <h2 class="text-center font-title-size page-title">@ViewBag.Title</h2>
</div>

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@TempData["message"]</h3>
}

<div class="text-center" style="margin-top: 20px;">
    @using (Html.BeginForm(actionName: "Edit", controllerName: "Category"))
    {
        @Html.Hidden("CategoryId", Model.CategoryId)

        @Html.HttpMethodOverride(HttpVerbs.Put)

        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        @Html.Label("CategoryName", "Denumire categorie")
        <br />
        <input type="text" name="CategoryName" class="input-text-custom" value="@Model.CategoryName" />
        @Html.ValidationMessageFor(m => m.CategoryName, "", new { @class = "text-danger" })
        <br />
        <br />

        <button class="btn btn-danger" type="submit">Modifica categoria</button>
    }
</div>