@model Journey.Models.Album

@{
    ViewBag.Title = "Nou album";
}

<div class="row">
    <a href="javascript:void(0);" onclick="history.go(-1);" class="font-title-size" style="margin-left: 20px;"> <i class="glyphicon glyphicon-arrow-left"></i></a>
    <h2 class="text-center font-title-size page-title">@ViewBag.Title</h2>
</div>

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@TempData["message"]</h3>
}

<div class="text-center" style="margin-top: 30px;">
    @using (Html.BeginForm("New", "Album"))
    {
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        @Html.HiddenFor(m => m.UserId)

        @Html.Label("Name", "Nume album")
        <br />

        @Html.TextBox("Name", null, new { @class = "input-text-custom" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

        <br />

        <button class="btn btn-danger" type="submit" style="margin-top: 30px;">Creeaza album</button>
    }
</div>