@model Journey.Models.Album

@{
    ViewBag.Title = "Afisare album";
}

<h2>@ViewBag.Title</h2>

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@TempData["message"]</h3>
}

<div class="panel panel-default">
    @Html.Partial("AlbumInfo", Model)

    @if (ViewBag.afisareButoane == true && Model.UserId == ViewBag.utilizatorCurent
        || ViewBag.esteAdmin)
    {

    <div class="panel-footer article-panel-footer">
        <a class="btn btn-primary" href="/Album/Edit/@Model.AlbumId">Modifica numele albumului</a>

        @if (ViewBag.afisareButoane == true && Model.UserId == ViewBag.utilizatorCurent
        || ViewBag.esteAdmin)
        {

            using (Html.BeginForm(actionName: "Delete", controllerName: "Album", method: FormMethod.Post, routeValues: new { id = @Model.AlbumId }))
            {

                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="btn btn-danger" type="submit">Sterge album</button>

            }
        }

        <a class="btn btn-primary" href="/Post/AddToAlbum/@Model.AlbumId">Adauga o noua postare</a>
    </div>
    }
</div>